<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <title>accidentproperty</title>
    <link rel="stylesheet" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            訳あり不動産
        </div>
        <div class="header-list">
            <ul>
                <li>訳あり不動産とは</li>
                <li>一覧</li>
                <li>お問い合わせ</li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="copy-container">
            <h1>訳あり物件一覧</h1>
            <h2>できるだけ安く住もう</h2>
        </div>
        <div class="contents">
            <h3>物件一覧</h3>
            <div class="contents-item">
                <p>物件１</p>
                <img src="https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/study/html.svg">
            </div>
            <div class="contents-item">
                <p>物件２</p>
                <img src="https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/study/html.svg">
            </div>
            <div class="contents-item">
                <p>物件３</p>
                <img src="https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/study/html.svg">
            </div>
            <div class="contents-item">
                <p>物件４</p>
                <img src="https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/study/html.svg">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-logo">
            訳あり不動産
        </div>
        <div class="footer-list">
            <ul>
                <li>訳あり不動産とは</li>
                <li>一覧</li>
                <li>お問い合わせ</li>
            </ul>
        </div>
    </div>
</body>
</html>